##########################################################################
##   .gitignore file for files and directories at the top of the repo   ##
##########################################################################

## vim .swp files
*.swp
*.swo

## Gedit/Nedit temporary files
*~

## log files
*.log
log*

## temporary directory (optional)
tmp/*
temp/*

## test directory content
test/*

## Work dir
work/*

## Ignore PRJ folder
vivado_prj/*
.Xil/*
bench/unused
rtl/unused
tmp
test
cores



## add here further directives if required ...
desktop.ini
